* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: url(../Imagenes/Fondo.jpg);
}

section {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carga-proyecto {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
  gap: 80px;
}

.carga-proyecto__info {
  display: flex;
  flex-direction: column;
  gap: 22px;
  flex: 1;
  max-width: 800px;
}

.carga-proyecto__label {
  color: #062F4F;
  font-size: 25px;
  font-weight: 900;
}

.carga-proyecto__input,
.carga-proyecto__textarea {
  padding: 12px 15px;
  border: 1px solid black;
  border-radius: 8px;
  font-family: "Arvo", serif;
  color: black;
  width: 100%;
  resize: vertical;
}

.carga-proyecto__titulo,
.carga-proyecto__descripcion,
.carga-proyecto__imagenes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.carga-proyecto__textarea {
  min-height: 200px;
}

.carga-proyecto__imagenes-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.carga-proyecto__img {
  width: 148px;
  height: 115px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carga-proyecto__img .material-symbols-outlined {
  font-size: 36px;
}

.carga-proyecto__btn {
  padding: 10px 20px;
  background: #dedede;
  border: none;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.carga-proyecto__preview-img {
  display: flex;
  height: 500px;
  width: 30%;
}

.carga-proyecto__preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carga-proyecto-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 20px;
  background-color: white;
  width: 100%;
  max-width: 1400px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 20px auto;
}

.carga-proyecto-form__grupo {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.carga-proyecto-form__titulo {
  font-size: 35px;
  color: #062F4F;
  font-weight: 900;
}

.carga-proyecto-form__select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.carga-proyecto-form__input,
.carga-proyecto-form__select {
  padding: 16px 14px;
  border: 1px solid black;
  border-radius: 15px;
  font-family: "Arvo", serif;
  font-size: 14px;
}

.carga-proyecto-form__select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 16px 40px 16px 14px;
  border: 1px solid black;
}

.carga-proyecto-form__btn {
  padding: 16px 14px;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: "Arvo", serif;
  background-color: #062F4F;
  font-size: 15px;
  transition: backgroud 0.3s ease;
}

.carga-proyecto-preview {
  width: 100%;
  margin: 20px auto;
  max-width: 1400px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
}

.carga-proyecto-preview__title {
  font-size: 40px;
  color: #062F4F;
  font-weight: 900;
  text-align: center;
}


/*Responsive*/

@media (max-width: 900px) {
  .carga-proyecto {
    flex-direction: column;
    padding: 15px;
  }

  .carga-proyecto__preview-img {
    display: none;
  }

  .carga-proyecto-form {
    flex-direction: column;
    padding: 15px;
  }

  .carga-proyecto-preview {
    flex-direction: column;
    padding: 15px;
  }
}

.none {
  display: none;
}

@media (max-width: 1050px) {
  .carga-proyecto__preview-img {
    display: none;
  }
}

.proyecto-esp__article {
  display: flex;
}

.proyecto-esp__article-div {
  max-height: 570px;
}

.proyecto-esp__article-div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  width: 45%;
}

.proyecto-esp__article-div-imgs {
  display: flex;
  height: 30%;
}

#Proyectos__article-div-img1 {
  max-height: 400px;
  height: 70%;
  width: 100%;
  object-fit: cover;
  padding: 10px 0;
}

#Proyectos__article-div-img2,
#Proyectos__article-div-img3,
#Proyectos__article-div-img4 {
  width: 33%;
  padding: 5px;
  object-fit: cover;
}

#Proyectos__article-div-img2 {
  padding: 5px 5px 5px 0;
}

#Proyectos__article-div-img4   {
  padding: 5px 0 5px 5px;
}

.proyecto-esp__article-div:last-child {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 30px 50px 30px 20px;
  padding: 50px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(165, 165, 165);
  width: 55%;
  background-color: white;
}

.proyecto-esp__article-div-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
}

.proyecto-esp__article-div-div:first-child {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: start;
  justify-content: space-between;
}

.proyecto-esp__article-div-div-h1,
.proyecto-esp__article-div-div-p,
.proyecto-esp__article-div-div-div-div-h2,
.proyecto-esp__article-div-div-div-div-p {
  color: #062F4F;
}

.proyecto-esp__article-div-div-h1 {
  font-size: 250%;
  font-weight: 800;
}

.proyecto-esp__article-div-div-div-div-h2 {
  font-size: 40px;
  font-weight: 800;
}

.proyecto-esp__article-div-div-p {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.proyecto-esp__article-div-div-div-div-p {
  font-weight: 600;
}

.proyecto-esp__article-div-div-button {
  background-color: #062F4F;
  border-radius: 8px;
  font-size: 18px;
  padding: 15px 70px;
  color: white;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
}

.proyecto-esp__article-div-div:last-child {
  width: 40%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.proyecto-esp__article-div-div-div:last-child {
  display: flex;
}

.proyecto-esp__article-div-div-div-div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

aside {
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(165, 165, 165);
  background-color: white;
}

.aside__div {
  display: flex;
  align-items: end;
}

.aside__div-h2,
.aside__div-p {
  color: #062F4F;
  margin: 0 10px;
  align-self: flex-start;
}

.aside__div-p {
  font-weight: 700;
  font-size: 20px;
  margin-top: 12px;
}

.aside__div-h2 {
  font-weight: 900;
  font-size: 35px;
}

@media (max-width: 1100px) {
  .proyecto-esp__article-div {
    max-height: none;
  }
}

@media (max-width: 900px) {

  .proyecto-esp__article {
    flex-direction: column;
    align-items: center;
  }

  .proyecto-esp__article-div {
    max-height: none;
  }

  .proyecto-esp__article-div:last-child {
    width: 90%;
    margin: 20px 50px;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }

  .proyecto-esp__article-div-div:first-child {
    width: 95%;
    align-items: center;
  }

  .proyecto-esp__article-div-div:last-child {
    width: 95%;
    align-items: start;
  }

  .proyecto-esp__article-div-div-div:last-child {
    align-self: center;
    margin-top: 20px;
  }

  .proyecto-esp__article-div-div-div-div {
    align-items: start;
  }

  .proyecto-esp__article-div-div-div-div-h2 {
    font-size: 45px;
  }

  .proyecto-esp__article-div-div-div-div-p {
    font-size: 30px;
  }

  .proyecto-esp__article-div-div-p {
    margin: 20px 15px;
    text-align: center;
  }

  .proyecto-esp__article-div-div-button {
    margin: 10px 0;
  }

  .aside__div {
    flex-direction: column;
  }

  .aside__div-h2 {
    margin: 10px 0;
  }

  .aside__div-p {
    margin: 0;
  }

  .proyecto-esp__article-div:first-child {
    width: 90%;
  }

  .proyecto-esp__article-div-div-h1 {
    font-size: 55px;
  }
}

@media (max-width:700px) {
  .proyecto-esp__article-div-div-h1 {
    font-size: 35px;
  }
}

.none {
  display: none;
}

.votado {
  border: 2px solid green;
  border-radius: none;
}

#editarProyecto, #crearProyectoBtn {
  padding: 10px 20px;
  border: none;
  background-color: #062F4F;
  border-radius: 6px;
  color: white;
}