@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

#HeaderGA a img,
#HeaderGU a img,
#HeaderGS a img {
  height: 100px;
}

#HeaderGA,
#HeaderGU,
#HeaderGS {
  color: white;
  background-color: #062F4F;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__div:first-child {
  width: 35%;
  font-size: 20px;
  margin: 0 10px;
}

.header__div:nth-child(2) a {
  margin: 0 20px;
  font-size: 22px;
  text-decoration: none;
  color: white;
  position: relative;
}

.header__div:nth-child(2) a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}

.header__div:nth-child(2) a:hover::after {
  transform: scaleX(1);
}

.header__div:nth-child(2) a:nth-child(2),
.header__div:nth-child(2) img {
  margin: 0 30px 0 20px;
}

.header__div:nth-child(2) img {
  height: 50px;
}

.ver-mas {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

@media (max-width: 900px) {

  .header__div:nth-child(2) {
    display: none;
  }

  .header__div:last-child {
    display: block;
  }

  .header__div:last-child i {
    font-size: 40px;
    margin: 0 20px;
  }

  .header__div:first-child {
    width: 70%;
  }
}

.none {
  display: none !important;
}

#MenuGS,
#MenuGU,
#MenuGC,
#MenuGA {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #062F4F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: right 0.4s ease;
  z-index: 200;
}

/* Cuando está activo */
#MenuGS.active,
#MenuGU.active,
#MenuGC.active,
#MenuGA.active {
  right: 0;
}

/* Estilos del menú */
#MenuGS ul,
#MenuGU ul,
#MenuGC ul,
#MenuGA ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: start;
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 20px;
}

#MenuGS li,
#MenuGU li,
#MenuGC li,
#MenuGA li {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 15px;
  border-radius: 8px;
  border: 5px solid transparent;
  transition: all .3s;
}

#MenuGS li:hover,
#MenuGU li:hover,
#MenuGC li:hover,
#MenuGA li:hover {
  background-color: #062640;
  border-left: 5px solid white;
}

#MenuGS a,
#MenuGU a,
#MenuGC a,
#MenuGA a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: color 0.3s;
}

.iDesplegable {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  padding: 0 20px;
}

#IconoGS,
#IconoGU,
#IconoGC,
#IconoGA {
  font-size: 50px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 250;
  transition: background 0.3s;
  position: relative;
}

#HeaderGS .header__div:last-child {
  display: none;
}


@media (max-width:900px) {

  #HeaderGS .header__div:last-child {
    display: block;
  }

  #MenuGS a,
  #MenuGU a,
  #MenuGC a,
  #MenuGA a,
  .iDesplegable {
    font-size: 30px;
  }

  #MenuGS li,
  #MenuGU li,
  #MenuGC li,
  #MenuGA li {
    margin: 0;
  }
}

.img_blanco_negro img {
  filter: grayscale(100%);
}

.media_estrella {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.media_estrella img {
  width: auto;
  height: auto;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
}

/* Pseudo-elemento con la parte derecha en B/N */
.media_estrella::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  background-image: url("../Imagenes/Estrellas.png");
  background-size: 200%;
  background-position: 100% 0;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: 2;
  pointer-events: none;
}