* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section__article-div-h3 {
  text-align: center;
  font-size: 45px;
  margin: 20px auto;
}

.section__article-div-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  overflow: hidden;

  overflow-x: scroll;
  scroll-behavior: smooth;
  cursor: grab;
  user-select: none;
  padding: 20px;
  width: 100%;
  scrollbar-width: none;
}

.section__article-div-container::-webkit-scrollbar {
  display: none;
}

.section__article-div-container.active {
  cursor: grabbing;
}

.section__article-div {
  flex: 0 0 370px;
}

.section__article-div-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__article-div-div-p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 30px;
  color: #062F4F;
}

.section__article-div-div-p {
  margin-top: 10px;
  font-size: 34px;
}

.section__article-div-div-p-span {
  position: relative;
  font-size: 30px;
}

.section__article-div-div-p-span-linea::after {
  content: "";
  display: inline-block;
  width: 55px;
  height: 2px;
  background-color: black;
  margin: 0 5px;
  vertical-align: middle;
}

.section__article-div-div-img {
  width: 370px;
  border-radius: 40px;
}

@media (max-width: 900px) {

  .section__article-div-container {
    gap: 8px;
  }

  .section__article-div {
    flex: 0 0 320px;
  }

  .section__article-div-div-img {
    width: 320px;
  }

  .section__article-div-div-p {
    font-size: 26px;
  }

  .section__article-div-div-p-span {
    font-size: 26px;
  }
}